.avatar{
  float: left;
  margin-left: 5%;
  margin-top: 20px;
}

.infobox{
  width: auto;
  margin-top: 25px;
  margin-left: 5%;
  float: left;
}

.btn_group{
  width: auto;
  margin-top: 15px;
  margin-right: 5%;
  float: right;
}


.cell{
  line-height: 1.6;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  content: " ";
  border-top: 1px solid #d9d9d9;
}


.cell_key{
  margin: 0;
  padding: 0;
  flex: 1;
}

.select_cell{
  line-height: 1.6;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  content: " ";
  border-top: 1px solid #d9d9d9;
}

.cell_value{
  text-align: right;
  margin-right: 10px;
  color: #888;
}

/*rightarrow*/
.select_cell:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    position: relative;
    top: -2px;
    top: -1px;
    margin-left: .3em;
}
#blankblock{
  width: 100%;
  height: 50px;
}

#circlename{
  width: auto;
  font:bold 22px arial,sans-serif;
}

#blankblock2{
  width: 100%;
  height: 200px;
}

#circleinfo{
  width: auto;
  font:italic 16px arial,sans-serif;
}

#btn1{
  width: 50px;
  background-color: lightgreen;
}
#btn2{
  width: 50px;
  background-color: lightgreen;
}

body{
  display: inline;
}


h1{
  text-align: center;
}
